<!doctype html>
<html lang="en">
<head>
    <title><%=pgk.name%>文档</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no"  />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capabale", content="yes"/>
    <link href="css/layout.css" type="text/css" rel="stylesheet" />
	<link href="font/iconfont.css" type="text/css" rel="stylesheet" />
    <link href="css/prettify-jsdoc.css" type="text/css" rel="stylesheet" />
    <link href="css/prettify-tomorrow.css" type="text/css" rel="stylesheet" />
</head>
<body class="layout">
<div class="layout-header">
        <%
            var version = pgk.version || '';
            version = version.replace(/\s/g,'')!=''?'('+version+')':'';
        %>
        <%
            var mdescription = pgk.description || "";
        %>
		<h3 class="title"><%=pgk.name+mdescription%><span class="version"> <%=version%> &nbsp;&nbsp;</span></h3>
		<ul class="nav">
            <% 
                var repository = pgk.repository || {};
                var type=repository.type;
                var url = repository.url || '';
                if (url.replace(/\s/g,'')!=''){
                    if(url.indexOf("git@")>-1){
                        url = url.replace(":","/").replace("git@","http://");
                    }
            %>
            <li class="nav-item">
				 <a class="repository" target="_blank" href="<%=url.replace('git:','http:')%>" >
					<span class="icon github">&#xe69f;</span><span><%=type%></span>
				</a>
			</li>
            <%
                }
            %>
		</ul>
	</div>
	<div class="layout-left">
		<div class="manifest">
			<a class="link classify icon">&#xf0025;API列表</a>
            <% for(var i=0,k=all.length;i<k;i++){
                var mModule  = all[i];
                var cls = mModule.name ===name?"current":""; 
            %>
                <a class="link <%=cls%>" id="<%=mModule.name%>" href="<%=mModule.filebasename%>.html"><%=mModule.name%></a>
            <%}%>
		</div>
	</div>
	<div class="layout-right">
        <%- include("module.ejs",{items:items,sourcename:sourcename})%> 
	</div>
    <script type="text/javascript" src="scripts/prettify.js"></script>
    <script type="text/javascript" src="scripts/lang-css.js"></script>
    <script type="text/javascript" src="scripts/doc.js"></script>
    <script> prettyPrint(); </script>
</body>
</html>

